### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

*.pyc 

unitree_wbmpc_controller/src/google_mpc/workspace.code-workspace
unitree_wbmpc_controller/src/google_mpc/.vscode/launch.json

